name: Rust

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, ubuntu-24.04-arm, macos-15-intel]

    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build -r --verbose
    - name: Run tests
      run: cargo test -r --verbose
    - name: Archive artifacts
      run: tar -C target/release -czf p4mux_${{ runner.os }}_${{ runner.arch }}.tgz p4mux
      shell: bash
    - name: List release artifacts
      run: ls target/release
    - name: Upload release artifact
      uses: actions/upload-artifact@v4
      with:
        name: p4mux_${{ runner.os }}_${{ runner.arch }}.tgz
        path: p4mux_${{ runner.os }}_${{ runner.arch }}.tgz
    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: p4mux_${{ runner.os }}_${{ runner.arch }}.tgz

