name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build -r --verbose
    - name: Run tests
      run: cargo test -r --verbose
    - name: Archive artifacts
      run: tar -C target/release -czf p4mux_${RUNNER_OS}_${RUNNER_ARCH}.tgz p4mux
      shell: bash
    - name: List release artifacts
      run: ls target/release
    - name: Upload release artifact
      uses: actions/upload-artifact@v4
      with:
        name: p4mux
        path: target/release/p4mux_${{ runner.os }}_${{ runner.arch }}.tgz

